<div class="jumbotron">
<h1>About my blog</h1>
<br>
<p><img src="http://wakpaper.com/large/Beaches_wallpapers_268.jpg" alt="Smiley face" width="450" height="450"></p>
<br>
<p> It's just a demo, you dummy. </p>
</div>