/*
 *= require bootstrap_and_overrides
 *= require_self
 */

.jumbotron {
  color: #FA8072;
  text-shadow: -2px 5px 5px grey;
}

body {
  font-family:"Didot";
  background-color:AliceBlue;
  color:#778899;
  font-size: 18px;
}

.page-header {
  background-color: AliceBlue;
  padding: 10px;
  h1 {
    color: #778899;
    font-weight: lighter;
    font-family: "Didot";
    text-shadow: -2px 5px 5px grey;
    
  }
}

img {
     margin: 5px;
     padding: 10px;
     
}


.paging {
  font-size: 20px;
  a {
    color:#FA8072;
    &:hover {
      text-decoration: none;

    }
  }
}


